<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Data Dosen</h1>
	<table border=1>
		<tr>
			<td>Kode Dosen</td>
			<td>Nama Dosen</td>
			<td>Jenis Kelamin</td>
			<td>Alamat</td>			
		</tr>
		<tbody>
			<tr th:each="dosenModel:${dosenModelList}">
			<td><a th:text="${dosenModel.kodeDosen}"></a></td>	
			<td><a th:text="${dosenModel.namaDosen}"></a></td>
			<td><a th:text="${dosenModel.jenisKelamin}"></a></td>
			<td><a th:text="${dosenModel.Alamat}"></a></td>	
			</tr>
		</tbody>
	</table>
</body>
</html>