<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="card">
	<div class="card-body">
		<h3 class="card-title">Tambah Anggota</h3>
		<p class="card-description">Masukkan detail Anggota</p>
		<form class="forms-sample" id="form-anggota-tambah" method="post">
			<div class="form-group">
				<label>ID Anggota</label> <input type="text" class="form-control"
					placeholder="Masukkan ID Anggota" name="idAnggota">
			</div>
			<div class="form-group">
				<label>Kode Anggota</label> <input type="text" class="form-control"
					placeholder="Masukkan Kode Anggota" name="kodeAnggota">
			</div>
			<div class="form-group">
				<label>Nama Anggota</label> <input type="text" class="form-control"
					placeholder="Masukkan Nama Anggota" name="namaAnggota">
			</div>
			<div class="form-group">
					<label>Fakultas</label> <select class="form-control"
						name="kodeFakultas">
						<option selected>---Pilih---</option>
						<option th:each="fakultasModel : ${fakultasModelList}"
							th:value="${fakultasModel.kodeFakultas}" th:utext="${fakultasModel.namaFakultas}"></option>
					</select>
				</div>
			<div class="form-group">
				<label>Usia Anggota</label> <input type="text" class="form-control"
					placeholder="Masukkan Usia Anggota" name="usiaAnggota">
			</div>
			<button type="submit" class="btn btn-success mr-2">Submit</button>
			<button class="btn btn-light" data-dismiss="modal">Cancel</button>
		</form>
	</div>
	</div>
</body>
</html>