<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form class="forms-sample" id='form-fakultas-ubah' method="post">
		<div class="card">
			<div class="card-body">
				<h3>Ubah Anggota</h3>
				<div class="form-group">
					<table>
						<tr>
							<td>ID Anggota</td>
							<td><input class="form-control" type="text" name="idAnggota"
								th:value="${anggotaModel.idAnggota}" /></td>
						</tr>
						<tr>
							<td>Kode Anggota</td>
							<td><input class="form-control" type="text"
								name="kodeAnggota" th:value="${anggotaModel.kodeAnggota}" /></td>
						</tr>
						<tr>
							<td>Nama Anggota</td>
							<td><input class="form-control" type="text"
								name="namaAnggota" th:value="${anggotaModel.namaAnggota}" /></td>
						</tr>
						<tr class="form-group">
							<label>Fakultas</label>
							<select class="form-control" name="kodeFakultas">
								<option selected>---Pilih---</option>
								<option th:each="fakultasModel : ${fakultasModelList}"
									th:value="${fakultasModel.kodeFakultas}" th:utext="${fakultasModel.namaFakultas}"></option>
							</select>
						</tr>
						<tr>
							<td>Usia Anggota</td>
							<td><input class="form-control" type="text"
								name="usiaAnggota" th:value="${anggotaModel.usiaAnggota}" /></td>
						</tr>
						<tr>
							<td><button class="btn btn-warning btn-sm" type="submit">Ubah</button></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</form>
</body>
</html>